/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_image-picker
 */
 input[type='file'] {
   width: 185px;
   background-color: lightgrey;
   margin-top: 15%;
 }
 .poll-display{
   margin-left: 22%;
 }

 .image_picker_image{
   width: 350px;
   height: 350px;
   border: black 4px solid;
 }
 .poll-show{
   width: 150px;
   height: 150px;
   border: black 2px solid;
 }
 /*.profile-image-upload{
   width: 150px;
   height: 150px;
 }*/

 #modal {
   top: 0;
   left: 0;
   position: fixed;
   display: none;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .4);
 }
 #modal2 {
   top: 0;
   left: 0;
   position: fixed;
   display: none;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .4);
 }

 #close-modal {
   position: absolute;
   left: 92%;
   margin-top: 6%;
   z-index: 2;
   font-size: 2em;
   border-radius: 50%;
   border: 3px solid white;
   height: 1em;
   width: 1em;
   line-height: 0.95;
   text-align: center;
   color: white;
   background-color: black;
 }

 #close-modal:hover {
   cursor: pointer;
 }
 #close-modal2 {
   position: absolute;
   left: 91%;
   margin-top: 5%;
   z-index: 2;
   font-size: 2em;
   border-radius: 50%;
   border: 3px solid white;
   height: 1em;
   width: 1em;
   line-height: 0.95;
   text-align: center;
   color: white;
   background-color: black;
 }

 #close-modal2:hover {
   cursor: pointer;
 }
 .modal-content {
   position: relative;
   margin: 0 30%;
   background-color: white;
   top: 10%;
   width: 40%;
 }

 .modal-body {
   position: absolute;
   width: 100%;
   top: 10px;
   background-color: white;
   border: 10px solid white;
   z-index: 1;
   border-radius: 25px;
   border: black solid 4px;
 }


 .modal-header {
   top: 40px;
   color: black;
   text-align: center;
 }

 .modal-img{
   width: 75%;
   max-height: 250px;
   margin-left: 12.5%;
 }

 .modal-data{
   text-align: center;
   font-size: 16px;
 }

 .brand-logo img{
   width: 45px;
   margin-top: 12px;
   margin-left: 10px;

 }
 a.brand-logo{
   color: black;
 }
 .show-display{
   display: inline-block;

 }
 .show-display-text1{
   margin-bottom: 50px;
   display: inline-block;
   width: 80px;
   font-size: 25px;
 }
 .show-display-text2{
   margin-bottom: 50px;
   display: inline-block;
   width: 30px;
   font-size: 25px;
 }
 .show-votes-above{
   list-style: none;
   font-size: 20px;
   margin-left: 15%;
 }
 ul{
   text-align: center;
   list-style: none;
 }
 #poll-edit{
   margin-left: 10%
 }
 .image_picker_selector{
   margin-left: 12%
 }
h3{
  text-align: center
}
.profile-header{
  text-align: left;
}
.otograph-nav{
  margin-left: -13%;
  color: black;
  font-size: 33px;
}
