<!DOCTYPE html>
<html>
<head>
  <title>PictureVote</title>

  <script id="picture-view" type="text/template">
    <!-- <img src="<%%=url%>" alt="" /> -->
    <option data-img-src="<%%=url%>" alt=""> </option>
         <!-- data-img-src="http://placekitten.com/220/200" -->
    <button type="button" class="remove">X</button>

  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>



</head>
<body>

<%= yield %>

</body>
</html>
